.my-alert2 {
  width: 80%;
  margin: auto;
  background-color: lightblue;
  border-radius: 20px;
  color: crimson;
  font-size: 1.5em;

  text-align: center;
  padding: 0.5em;
}

.card {
  text-align: center;
  margin: 1em;
}

.card_container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
